.mandatory__class[b-lmifo3ekzv] {
    border-width: 1px;
    border-color: red;
}

label[b-lmifo3ekzv] {
    background-color: lightgray;
    padding: 1px;
}

input[b-lmifo3ekzv] {
    margin: 2px;
}

.show__message_hover[b-lmifo3ekzv] {
    display: none;
}

.message[b-lmifo3ekzv] {

}